body {
  margin: 0;
  font-family: "Vazir", "tahoma", "Ubuntu", "sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color:#BD93F9 !important;
}

input[type="text"]:focus {
  outline: none !important;
  box-shadow: none !important;
}
input[type="email"]:focus {
  outline: none !important;
  box-shadow: none !important;
}
input[type="number"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.inp-main {
  background-color: #282a36 !important;
  border-color: #bd93f9 !important;
  color: #bd93f9 !important;
  width: 50% !important;
}
